In [49]:
import pandas as pd
import numpy as np

In [139]:
pwd

'C:\\Users\\uulka\\OneDrive\\Documents\\GitHub\\UCBEL201808DATA2\\04-Pandas\\Homework\\Instructions\\HeroesOfPymoli\\Resources'

In [51]:
file = "purchase_data.csv"

In [52]:
file_df = pd.read_csv(file)
file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [53]:
file_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [54]:
totalplayers= {'Total Players':[len(file_df['SN'].value_counts())]}
totalplayers1 = pd.DataFrame(totalplayers)
totalplayers1

   Total Players
0            576

In [55]:
unique = len(file_df["Item Name"].value_counts())
unique

179

In [117]:
average = round(file_df["Price"].mean(),2)
average

3.05

In [118]:
number_purch = file_df["Item Name"].count()
number_purch

780

In [119]:
total_revenue = file_df["Price"].sum()
total_revenue

2379.77

In [120]:

PurchAnalysis= {'Unique Items':[unique],'Average price':[average],'Number of Purchases': [number_purch],'Total revenue':[total_revenue]}
PurchAnalysis =pd.DataFrame(PurchAnalysis)
PurchAnalysis

   Unique Items  Average price  Number of Purchases  Total revenue
0           179           3.05                  780        2379.77

In [121]:
totalplayers= len(file_df['SN'].value_counts())
unique_Male= file_df.groupby("Gender").get_group('Male')
Male2= len(unique_Male['SN'].unique())
MalePersentage = round((Male2/totalplayers)*100,2)
print(MalePersentage)

84.03

In [122]:
totalplayers= len(file_df['SN'].value_counts())
unique_Female= file_df.groupby("Gender").get_group('Female')
Female2= len(unique_Female['SN'].unique())
FemalePersentage = round((Female2/totalplayers)*100,2)
print(FemalePersentage)

14.06

In [123]:
totalplayers= len(file_df['SN'].value_counts())
unique_Other= file_df.groupby("Gender").get_group('Other / Non-Disclosed')
Other2= len(unique_Other['SN'].unique())
OtherPersentage = round((Other2/totalplayers)*100,2)
print(OtherPersentage)

1.91

In [124]:
file_df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [125]:
Genanalysis ={'Gender Persentage':[MalePersentage, FemalePersentage, OtherPersentage],'Gender count':[Male2,Female2, Other2],'Gender':
               [ "Male", "Female", "Other /Non-Diclosed"]}
Genanalysis = pd.DataFrame(Genanalysis)
Genanalysis=Genanalysis.set_index('Gender')
Genanalysis

                     Gender Persentage  Gender count
Gender
Male                             84.03           484
Female                           14.06            81
Other /Non-Diclosed               1.91            11

In [126]:
#Total Gender purchase
Maletotal= round(unique_Male["Price"].sum(),2)
Femaletotal= round(unique_Female["Price"].sum(),2)
Othertotal = round(unique_Other["Price"].sum(),2)
#Average Purchase Price
MaleAvgPrice =round((unique_Male["Price"].sum())/len(unique_Male["Price"]),2)
FemAvgPrice= round((unique_Female["Price"].sum())/len(unique_Female["Price"]),2)
OtherAvgPrice= round((unique_Other["Price"].sum())/len(unique_Other["Price"]),2)
#Total gender purchase count
MalePurchCount=len(unique_Male)
FemPurchCount =len(unique_Female)
OtherPurchCount =len(unique_Other)

#Avg Total Purchase per Person
MaleAvg= round((Maletotal/Male2),2)
FemAvg= round((Femaletotal/Female2),2)
OtherAvg = round((Othertotal/Other2),2)

In [127]:
Genderpurchanalysis = {"Purchase Count":[MalePurchCount,FemPurchCount,OtherPurchCount],
                    "Gender":["Male","Female","Other"],
                    "Average Purchase Price":[MaleAvgPrice,FemAvgPrice,OtherAvgPrice],
                    "Total Purchase Value":[Maletotal,Femaletotal,Othertotal],
                "Avg Total Purchase per Person":[MaleAvg,FemAvg,OtherAvg]}
Genderpurchanalysis1= pd.DataFrame(Genderpurchanalysis)
Genderpurchanalysis1 = Genderpurchanalysis1.set_index('Gender')
Genderpurchanalysis1= Genderpurchanalysis1[['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']]
Genderpurchanalysis1

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.02,1967.64,4.07
Female,113,3.20,361.94,4.47
Other,15,3.35,50.19,4.56

In [128]:
AgeMax=file_df['Age'].max()
print(AgeMax)

45

In [129]:
#Age analysis
bins = [0,10,14,19,24,29,34,39,46]
years = ["Under 10","10-14","15-19","20-24","25-29","30-34","35-39","Over 40"]
file_df['Summary_Age'] = pd.cut(file_df['Age'],bins,labels= years)

In [130]:

Bin1 = file_df.groupby(['Summary_Age']).get_group(('Under 10'))
Bin1Count = len(Bin1['SN'].unique())
PercentBin1 = (Bin1Count/totalplayers)*100

Bin2 = file_df.groupby(['Summary_Age']).get_group(('10-14'))
Bin2Count = len(Bin2['SN'].unique())
PercentBin2 = (Bin2Count/totalplayers)*100

Bin3 = file_df.groupby(['Summary_Age']).get_group(('15-19'))
Bin3Count= len(Bin3['SN'].unique())
PercentBin3 = (Bin3Count/totalplayers)*100

Bin4 = file_df.groupby(['Summary_Age']).get_group(('20-24'))
Bin4Count= len(Bin4['SN'].unique())
PercentBin4 = (Bin4Count/totalplayers)*100

Bin5 = file_df.groupby(['Summary_Age']).get_group(('25-29'))
Bin5Count = len(Bin5['SN'].unique())
PercentBin5 = (Bin5Count/totalplayers)*100

Bin6 = file_df.groupby(['Summary_Age']).get_group(('30-34'))
Bin6Count = len(Bin6['SN'].unique())
PercentBin6 = (Bin6Count/totalplayers)*100

Bin7 = file_df.groupby(['Summary_Age']).get_group(('35-39'))
Bin7Count = len(Bin7['SN'].unique())
PercentBin7 = (Bin7Count/totalplayers)*100

Bin8 = file_df.groupby(['Summary_Age']).get_group(('Over 40'))
Bin8Count= len(Bin8['SN'].unique())
PercentBin8 = (Bin8Count/totalplayers)*100

In [131]:
BinsCount=[Bin1Count,Bin2Count,Bin3Count,Bin4Count,Bin5Count,Bin6Count,Bin7Count,Bin8Count]
PercentBins= [PercentBin1,PercentBin2,PercentBin3,PercentBin4,PercentBin5,PercentBin6,PercentBin7,PercentBin8]
PercentBins= [round(x,2) for x in PercentBins]

AgeAnalysis = {"Summary_Age":years,"Total Player Count":BinsCount,"Percentage Of Players":PercentBins}
AgeAnalysis1 = pd.DataFrame(AgeAnalysis)
AgeAnalysis1 = AgeAnalysis1.set_index('Summary_Age')
AgeAnalysis1

             Total Player Count  Percentage Of Players
Summary_Age
Under 10                     24                   4.17
10-14                        15                   2.60
15-19                       107                  18.58
20-24                       258                  44.79
25-29                        77                  13.37
30-34                        52                   9.03
35-39                        31                   5.38
Over 40                      12                   2.08

In [132]:
#Total age purchase value
Bin1total= round(Bin1["Price"].sum(),2)
Bin2total= round(Bin2["Price"].sum(),2)
Bin3total = round(Bin3["Price"].sum(),2)
Bin4total = round(Bin4["Price"].sum(),2)
Bin5total = round(Bin5["Price"].sum(),2)
Bin6total = round(Bin6["Price"].sum(),2)
Bin7total = round(Bin7["Price"].sum(),2)
Bin8total = round(Bin8["Price"].sum(),2)
#Total purchase count
Bin1PurchCount=len(Bin1["Price"])
Bin2PurchCount =len(Bin2["Price"])
Bin3PurchCount =len(Bin3["Price"])
Bin4PurchCount =len(Bin4["Price"])
Bin5PurchCount =len(Bin5["Price"])
Bin6PurchCount =len(Bin6["Price"])
Bin7PurchCount =len(Bin7["Price"])
Bin8PurchCount =len(Bin8["Price"])

#Average Purchase Price
Bin1AvgPrice =round((Bin1total/Bin1PurchCount),2)
Bin2AvgPrice= round((Bin2total/Bin2PurchCount),2)
Bin3AvgPrice= round((Bin3total/Bin3PurchCount),2)
Bin4AvgPrice= round((Bin4total/Bin4PurchCount),2)
Bin5AvgPrice= round((Bin5total/Bin5PurchCount),2)
Bin6AvgPrice= round((Bin6total/Bin6PurchCount),2)
Bin7AvgPrice= round((Bin7total/Bin7PurchCount),2)
Bin8AvgPrice= round((Bin8total/Bin8PurchCount),2)


#Avg Total Purchase per Age bin
Bin1Avg= round((Bin1total/Bin1Count),2)
Bin2Avg= round((Bin2total/Bin2Count),2)
Bin3Avg = round((Bin3total/Bin3Count),2)
Bin4Avg = round((Bin4total/Bin4Count),2)
Bin5Avg = round((Bin5total/Bin5Count),2)
Bin6Avg = round((Bin6total/Bin6Count),2)
Bin7Avg = round((Bin7total/Bin7Count),2)
Bin8Avg = round((Bin8total/Bin8Count),2)

In [133]:

AgeAnalysis = {"Age":["Under 10","10-14","15-19","20-24","25-29","30-34","35-39","Over 40"],"Purchase Count":[Bin1PurchCount,Bin2PurchCount,Bin3PurchCount,Bin4PurchCount,Bin5PurchCount,Bin6PurchCount,Bin7PurchCount,Bin8PurchCount],
               "Average Purchase Price":[Bin1AvgPrice,Bin2AvgPrice,Bin3AvgPrice,Bin4AvgPrice,Bin5AvgPrice,Bin6AvgPrice,Bin7AvgPrice,Bin8AvgPrice],
                    "Total Purchase Value":[Bin1total,Bin2total,Bin3total,Bin4total,Bin5total,Bin6total, Bin7total,Bin8total],
                "Avg Total Purchase per Age":[Bin1Avg,Bin2Avg,Bin3Avg,Bin4Avg,Bin5Avg,Bin6Avg,Bin7Avg, Bin8Avg]}
AgeAnalysis1 = pd.DataFrame(AgeAnalysis)
AgeAnalysis1 = AgeAnalysis1.set_index('Age')

AgeAnalysis1

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Age
Age,,,,
Under 10,32,3.40,108.96,4.54
10-14,19,2.68,50.95,3.40
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
Over 40,13,2.94,38.24,3.19

In [134]:
#Top Spenders

SN = file_df.groupby(file_df["SN"])
UserName = SN["SN"].unique()
# Total Purchase Count
SNcount = SN['Age'].count()

#Average Purchase Price
SNaverage = round(SN['Price'].mean(),2)

#Total Purchase Value
SNtotal = SN['Price'].sum()


TopSpenders = {"SN":UserName,"Purchase Count":SNcount,
                 "Average Purchase Price":SNaverage,"Total Purchase Value":SNtotal}
TopSpenders1= pd.DataFrame(TopSpenders)
TopSpenders1= TopSpenders1.set_index('SN')
TopSpenders1 = TopSpenders1.sort_values("Total Purchase Value",ascending=False)
TopSpenders1 = TopSpenders1[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
TopSpenders1
TopSpenders1.iloc[:10]

                Purchase Count  Average Purchase Price  Total Purchase Value
SN
[Lisosia93]                  5                    3.79                 18.96
[Idastidru52]                4                    3.86                 15.45
[Chamjask73]                 3                    4.61                 13.83
[Iral74]                     4                    3.40                 13.62
[Iskadarya95]                3                    4.37                 13.10
[Ilarin91]                   3                    4.23                 12.70
[Ialallo29]                  3                    3.95                 11.84
[Tyidaim51]                  3                    3.94                 11.83
[Lassilsala30]               3                    3.84                 11.51
[Chadolyla44]                3                    3.82                 11.46

In [135]:
#Most Popular Items

ItemId = file_df.groupby(file_df['Item ID'])
Items = ItemId['Item ID'].unique()
#Item Name

ItemName = ItemId["Item Name"].unique()

#Purchase Count
ItemCount = ItemId['Age'].count()

#Item Price
ItemPrice= ItemId['Price'].unique()


#Total Purchase Value
ItemTotalPurch = ItemId['Price'].sum()

In [136]:
Item_summary = {'Item ID':Items,'Item Name':ItemName,'Item Price':ItemPrice,'Item Count':ItemCount,'Total Purchase':ItemTotalPurch}
Item_summary1 = pd.DataFrame(Item_summary)
Item_summary1 = Item_summary1.set_index('Item ID')
Item_summary1= Item_summary1.sort_values('Item Count', ascending=False)
Item_summary1 = Item_summary1[['Item Name','Item Count','Item Price','Total Purchase']]
Item_summary1.iloc[:10]

,Item Name,Item Count,Item Price,Total Purchase
Item ID,,,,
[178],"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
[145],[Fiery Glass Crusader],9,[4.58],41.22
[108],"[Extraction, Quickblade Of Trembling Hands]",9,[3.53],31.77
[82],[Nirvana],9,[4.9],44.10
[19],"[Pursuit, Cudgel of Necromancy]",8,[1.02],8.16
[103],[Singed Scalpel],8,[4.35],34.80
[75],[Brutality Ivory Warmace],8,[2.42],19.36
[72],[Winter's Bite],8,[3.77],30.16
[60],[Wolf],8,[3.54],28.32
[59],"[Lightning, Etcher of the King]",8,[4.23],33.84

In [138]:
MostProfitable= Item_summary1.sort_values('Total Purchase', ascending=False)
MostProfitable
MostProfitable[:10]

,Item Name,Item Count,Item Price,Total Purchase
Item ID,,,,
[178],"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
[82],[Nirvana],9,[4.9],44.10
[145],[Fiery Glass Crusader],9,[4.58],41.22
[92],[Final Critic],8,[4.88],39.04
[103],[Singed Scalpel],8,[4.35],34.80
[59],"[Lightning, Etcher of the King]",8,[4.23],33.84
[108],"[Extraction, Quickblade Of Trembling Hands]",9,[3.53],31.77
[78],"[Glimmer, Ender of the Moon]",7,[4.4],30.80
[72],[Winter's Bite],8,[3.77],30.16
[60],[Wolf],8,[3.54],28.32

In [ ]:
#1.There are more male players(84%),while wome players are only(14%).Hense, men spend more than other players.
#2.The games are popular among people, who are at the age of 20-24 years(45%)
#3.The most popular and most profitable product is Oathbreaker, Last Hope of the Breaking Storm.